<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Genre Distribution</title>
    <!-- Include Chart.js library -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>The Bookish Circle</title>
    <style>
        html {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }

        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-image: url("/img/nn.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;
        }

        .center {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px 0; /* Adjust vertical padding as needed */
        }

        /* Apply max-width to the image */
        img {
            max-width: 100%;
            height: auto;
        }

        /* Header */
        header {
            background-color: #384b38;
            color: #fff;
            padding: 20px;
            text-align: center;
            height: 75px;
        }

        h1 {
            font-size: 3em;
            margin-bottom: 10px;
            letter-spacing: 3px;
            text-transform: uppercase;
            font-weight: bold;
            color: #fff;
        }

        h2 {
            font-size: 2em;
            margin-bottom: 10px;
            letter-spacing: 3px;
            font-weight: bold;
            color: #fff;
            text-align: center;
        }

        canvas {
            max-width: 600px;
            margin: 0 auto;
            background-color: #384b38;
        }

        /* Navigation */
        nav {
            display: flex;
            justify-content: space-around;
            padding: 10px 0;
            background-color: #c89666;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            clear: both;
        }

            nav a {
                color: #384b38;
                text-decoration: none;
                padding: 10px 20px;
                border-radius: 5px;
                transition: background-color 0.3s, color 0.3s;
                font-weight: bold;
            }

                nav a:hover {
                    background-color: #c1a77a;
                    color: #fff;
                }

                nav a.active {
                    background-color: #384b38;
                    color: #fff;
                }

        /* Main content */
        main {
            padding: 20px;
        }

        /* Footer */
        footer {
            background-color: #384b38;
            color: #fff;
            padding: 5px;
            text-align: center;
            height: 50px;
        }

        /* Table styles */
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            padding: 8px;
            border: 1px solid #384b38;
        }

        th {
            background-color: #f2f2f2;
            color: #384b38;
            text-align: left;
        }

      tbody tr:nth-child(even) {
            background-color: #f2f2f2;
        }

      
        tbody tr:hover {
            background-color: #f2f2f2;
        } 
    </style>
</head>
<body>
    <header>
        <h1>The Bookish Circle</h1>
    </header>

    <nav>
        <a asp-controller="Home" asp-action="Index">Home</a>
        <a asp-controller="About" asp-action="Index">About Us</a>
        <a asp-controller="FeaturedBooks" asp-action="Index">Featured Books</a>
        <a asp-controller="Membership" asp-action="Index">Membership</a>
        <a asp-controller="SignUp" asp-action="Index">Sign up</a>
        <a asp-controller="BookInsights" asp-action="Index">BookInsights</a>
    </nav>

    <main>
        <h2>Chart Data</h2>
        <!-- Canvas element to render the chart -->
        <div class="center">
        <img src="/img/chart.jpeg" alt="Description of the image" width="500" height="300">
        </div>
        <h2>Top 10 Young Adult Books</h2>
        <table>
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Title</th>
                    <th>Series</th>
                    <th>Number of Series</th>
                    <th>Author</th>
                    <th>Genres</th>
                    <th>Publisher</th>
                    <th>Published Year</th>
                    <th>First Publish Year</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>The Hunger Games (The Hunger Games, #1)</td>
                    <td>The Hunger Games</td>
                    <td>#1</td>
                    <td>Suzanne Collins</td>
                    <td>Young Adult, Fiction, Dystopia, Fantasy, Science Fiction, Romance, Adventure, Teen, Post Apocalyptic, Action</td>
                    <td>Scholastic Press</td>
                    <td>2008</td>
                    <td>2008</td>
                    <td>4.33</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>The Diary of a Young Girl</td>
                    <td></td>
                    <td></td>
                    <td>Anne Frank</td>
                    <td>Nonfiction, Classics, History, Biography, Memoir, Historical, Holocaust, Autobiography, War, World War II</td>
                    <td>Bantam</td>
                    <td>1993</td>
                    <td>1947</td>
                    <td>4.15</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Little Women</td>
                    <td>Little Women</td>
                    <td>#1</td>
                    <td>Louisa May Alcott</td>
                    <td>Classics, Fiction, Historical Fiction, Young Adult, Romance, Historical, Literature, Childrens, Classic Literature, Novels</td>
                    <td>Signet Classics</td>
                    <td>2004</td>
                    <td>1880</td>
                    <td>4.09</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>The Fault in Our Stars</td>
                    <td></td>
                    <td></td>
                    <td>John Green</td>
                    <td>Young Adult, Romance, Fiction, Contemporary, Realistic Fiction, Teen, Coming Of Age, Drama, Novels, Love</td>
                    <td>Dutton Books</td>
                    <td>2012</td>
                    <td>2012</td>
                    <td>4.21</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Anne of Green Gables</td>
                    <td>Anne of Green Gables</td>
                    <td>#1</td>
                    <td>L.M. Montgomery</td>
                    <td>Classics, Fiction, Young Adult, Childrens, Historical Fiction, Middle Grade, Historical, Audiobook, Canada, Coming Of Age</td>
                    <td>Signet Book</td>
                    <td>2003</td>
                    <td>1908</td>
                    <td>4.26</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>The Lightning Thief</td>
                    <td>Percy Jackson and the Olympians</td>
                    <td>#1</td>
                    <td>Rick Riordan</td>
                    <td>Fantasy, Young Adult, Mythology, Fiction, Middle Grade, Adventure, Childrens, Urban Fantasy, Greek Mythology, Magic</td>
                    <td>Disney Hyperion Books</td>
                    <td>2006</td>
                    <td>2005</td>
                    <td>4.26</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>The Giver</td>
                    <td>The Giver</td>
                    <td>#1</td>
                    <td>Lois Lowry</td>
                    <td>Young Adult, Fiction, Classics, Dystopia, Science Fiction, Fantasy, School, Childrens, Middle Grade, Read For School</td>
                    <td>Ember</td>
                    <td>2006</td>
                    <td>1993</td>
                    <td>4.13</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>City of Bones</td>
                    <td>The Mortal Instruments</td>
                    <td>#1</td>
                    <td>Cassandra Clare</td>
                    <td>Fantasy, Young Adult, Paranormal, Romance, Urban Fantasy, Fiction, Vampires, Supernatural, Angels, Magic</td>
                    <td>Margaret K. McElderry Books</td>
                    <td>2007</td>
                    <td>2007</td>
                    <td>4.1</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>The Perks of Being a Wallflower</td>
                    <td></td>
                    <td></td>
                    <td>Stephen Chbosky</td>
                    <td>Young Adult, Fiction, Contemporary, Coming Of Age, Romance, Realistic Fiction, LGBT, Classics, Mental Health, Teen</td>
                    <td>MTV Books/Pocket Books</td>
                    <td>1999</td>
                    <td>1999</td>
                    <td>4.2</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>A Wrinkle in Time</td>
                    <td>Time Quintet</td>
                    <td>#1</td>
                    <td>Madeleine L'Engle</td>
                    <td>Fantasy, Fiction, Classics, Young Adult, Science Fiction, Childrens, Middle Grade, Time Travel, Adventure, Science Fiction Fantasy</td>
                    <td>Square Fish</td>
                    <td>1973</td>
                    <td>1962</td>
                    <td>4</td>
                </tr>
            </tbody>
        </table>
    </main>

    <footer>
        <p>&copy; 2024 The Bookish Circle</p>
    </footer>
</body>
</html>
