
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>

    <title>The Bookish Circle</title>
    <style>
        .chart-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

            .chart-container > div {
                margin: 20px;
                width: 800px;
            }

        canvas {
            max-width: 100%;
            height: auto;
            margin-top: 10px;
        }

        .chart-container canvas {
            max-width: 50%;
            height: auto;
        }

        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-image: url("/img/nn.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;
        }

        header {
            background-color: #384b38;
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        .center {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px 0;
        }

        img {
            max-width: 150%;
            height: auto;
        }

        h1 {
            font-size: 3em;
            margin-bottom: 10px;
            letter-spacing: 3px;
            text-transform: uppercase;
            font-weight: bold;
        }

        h2 {
            font-size: 2em;
            margin-bottom: 10px;
            letter-spacing: 3px;
            color: #c89666;
            font-weight: bold;
        }

        h3 {
            font-size: 2em;
            margin-bottom: 10px;
            letter-spacing: 3px;
            color: #ffff;
            font-weight: bold;
            background-color: #384b38;
        }

        nav {
            display: flex;
            justify-content: space-around;
            padding: 10px 0;
            background-color: #c89666;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

            nav a {
                color: #384b38;
                text-decoration: none;
                padding: 10px 20px;
                border-radius: 5px;
                transition: background-color 0.3s, color 0.3s;
                font-weight: bold;
            }

                nav a:hover {
                    background-color: #c1a77a;
                    color: #fff;
                }

                nav a.active {
                    background-color: #384b38;
                    color: #fff;
                }

        footer {
            background-color: #384b38;
            color: #fff;
            padding: 5px;
            text-align: center;
        }

        .about-hero {
            background-image: url("path/to/background-image.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            padding: 100px 0;
            color: #fff;
            text-align: center;
        }

            .about-hero h2 {
                font-size: 2.5em;
                margin-bottom: 20px;
            }

            .about-hero p {
                font-size: 1.2em;
                line-height: 1.5;
                max-width: 700px;
                margin: 0 auto;
            }

        .creators {
            background-color: #c1a77a;
            padding: 20px;
        }

            .creators h3 {
                text-align: center;
                margin-bottom: 15px;
                color: #384b38;
            }

            .creators .creator {
                margin-bottom: 30px;
                text-align: center;
            }

                .creators .creator img {
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    margin-bottom: 10px;
                    transition: transform 0.3s;
                }

                    .creators .creator img:hover {
                        transform: scale(1.1);
                    }

                .creators .creator p {
                    font-size: 1em;
                    color: #333;
                }

        .cta {
            text-align: center;
            padding: 20px;
        }

            .cta button {
                background-color: #384b38;
                color: #fff;
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s;
            }

            .cta:hover {
                background-color: #384b38;
            }
    </style>
</head>
<body>
    <header>
        <h1>The Bookish Circle</h1>
    </header>

    <nav>
        <a asp-controller="Home" asp-action="Index">Home</a>
        <a asp-controller="About" asp-action="Index">About Us</a>
        <a asp-controller="FeaturedBooks" asp-action="Index">Featured Books</a>
        <a asp-controller="Membership" asp-action="Index">Membership</a>
        <a asp-controller="SignUp" asp-action="Index">Sign up</a>
        <a asp-controller="BookInsights" asp-action="Index">BookInsights</a>
    </nav>
    <br />
    <h2>Popular Genres</h2>
    <div class="container">
        <div class="chart-container">
            <canvas id="myChart"></canvas>
        </div>
    </div>
    <br />
    <h2>Popular Languages</h2>
    <div class="container">
        <div class="chart-container">
            <canvas id="lanChart"></canvas>
        </div>
    </div>
    <br />
    <h2>Popular Ratings</h2>
    <div class="container">
        <div class="chart-container">
            <canvas id="ratingChart"></canvas>
        </div>
    </div>

    <script>
        Papa.parse("/dataset/goodreads.csv", {
            download: true,
            header: true,
            dynamicTyping: true,
            skipEmptyLines: true,
            complete: function (results) {
                const data = results.data;

                let genresCounts = {};
                data.forEach(row => {
                    genresCounts[row['genres']] = genresCounts[row['genres']] = (genresCounts[row['genres']] || 0) + 1;
                });

                let genresData = {
                    labels: Object.keys(genresCounts),
                    datasets: [{
                        label: 'Popular Genre',
                        data: Object.values(genresCounts),
                        backgroundColor: ['#ff9999', '#ffff99', '#ffb3ff', '#99ccff', '#666666', '#f2f2f2', '#ffcc99', '#cc99ff', '#99ff99', '#cccccc']
                    }]
                };

                new Chart(document.getElementById('myChart').getContext('2d'), {
                    type: 'bar',
                    data: genresData,
                    options: {
                        title: {
                            display: false,
                            fontStyle: 'bold',
                            fontSize: 18
                        },
                        layout: {
                            padding: {
                                top: 2,
                                bottom: 2
                            }
                        }
                    }
                });

                let lanCounts = {};
                data.forEach(row => {
                    lanCounts[row['language']] = (lanCounts[row['language']] || 0) + 1;
                });

                let lanData = {
                    labels: Object.keys(lanCounts),
                    datasets: [{
                        label: 'Popular Language',
                        data: Object.values(lanCounts),
                        backgroundColor: ['#ff9999', '#ffff99', '#ffb3ff', '#99ccff']
                    }]
                };

                new Chart(document.getElementById('lanChart').getContext('2d'), {
                    type: 'line',
                    data: lanData,
                    options: {
                        title: {
                            display: false,
                            fontStyle: 'bold',
                            fontSize: 18
                        },
                        layout: {
                            padding: {
                                top: 2,
                                bottom: 2
                            }
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        },
                        elements: {
                            line: {
                                tension: 0,
                                borderColor: 'rgba(255, 255, 255, 1)',
                                borderWidth: 3
                            }
                        }
                    }
                });

                let ratingCounts = {};
                data.forEach(row => {
                    ratingCounts[row['rating']] = (ratingCounts[row['rating']] || 0) + 1;
                });

                let ratingData = {
                    labels: Object.keys(ratingCounts),
                    datasets: [{
                        label: 'Popular Ratings',
                        data: Object.values(ratingCounts),
                        backgroundColor: ['#ff9999', '#ffff99', '#ffb3ff', '#99ccff', '#666666', '#f2f2f2', '#ffcc99', '#cc99ff', '#99ff99', '#cccccc']
                    }]
                };

                new Chart(document.getElementById('ratingChart').getContext('2d'), {
                    type: 'pie',
                    data: ratingData,
                    options: {
                        title: {
                            display: false,
                            fontStyle: 'bold',
                            fontSize: 18
                        },
                        layout: {
                            padding: {
                                top: 2,
                                bottom: 2
                            }
                        },
                        cutoutPercentage: 0.5,
                        elements: {
                            arc: {
                                backgroundColor: ['rgba(255, 99, 132, 0.5)', 'rgba(54, 162, 235, 0.5)', 'rgba(255, 206, 86, 0.5)', 'rgba(75, 192, 192, 0.5)']
                            }
                        }
                    }
                });
            }
        });
    </script>

    <br />

    <section class="cta">
        <p><button onclick="goToPage2()">Join the club!</button></p>

        <script>
            function goToPage2() {
                window.location.href = "SignUp";
            }
        </script>
    </section>

    <footer>
        <p>&copy; 2024 The Bookish Circle</p>
    </footer>
</body>
</html>

